<% @recipes.each do |recipe| %>

<p> Recipe name: <%= recipe.name %> </p>
<p> Ingredients: <%= recipe.ingredients %> </p>
<p> Cook time: <%= recipe.cook_time %> </p>
<p> Recipe page: <a href= "/recipes/<%= recipe.id %>"> Click Here </a>  </p>
<% end %>
