
<form action="/recipes" method="post">
    <h2> Name: </h2> <input type="text" name="[name]" id="name">
    <h2> Ingredients </h2> <input type="text" name="[ingredients]" id="ingredients">
    <h2> Cook Time </h2> <input type="text" name="[cook_time]" id="cook_time">
    <input type="submit" id="submit">
</form>