<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%= @recipe.name %></h1>
    <h2><%= @recipe.cook_time %></h2>
    <p><%= @recipe.ingredients %></p>
    <form action="/recipes/<%= @recipe.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button type="submit">delete</button>
    </form>
</body>
</html>